<!DOCTYPE html>
<html>

  <head>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>
  </head>

  <body ng-app="app">
    <h1 class="text-center">Work to do</h1>
    
    <div id="todo" class="col-xs-6 col-xs-offset-3" ng-controller="MainCtrl">
  
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Item to add to todo list" ng-model="task">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="addItem()">
              Add
              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </button>
          </span>
        </div><!-- /input-group -->
        <div class="input-group">
          <label class="radio-inline"><input type="radio" name="optradio" ng-model="priority" value="HIGH">Today(HIGH) </label>
          <label class="radio-inline"><input type="radio" name="optradio" ng-model="priority" value="MEDIUM">Tomorrow(MEDIUM) </label>
          <label class="radio-inline"><input type="radio" name="optradio" ng-model="priority" value="LOW">Couple of Days(LOW) </label> 
          <!--<input type="text" class="form-control" placeholder="Priority" ng-model="priority">-->
        </div>
      <h2>Things to Do</h2>
      
      <ul class="list-group">
        <!-- http://www.w3schools.com/css/css_float.asp -->
        <li class="list-group-item clearfix" ng-repeat="do in todos">
          
          <div>Task: {{do.task}} </div> <div> Priority: {{do.priority}}</div>
          <button class="btn btn-danger pull-right" type="button" ng-click="deleteItem(do)">
            <span class="glyphicon glyphicon-trash " aria-hidden="true"></span>
          </button>

        </li>
      </ul>
    </div>
    
  </body>

</html>
