<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>
  </head>

  <body ng-app="app">
    <h1 class="text-center">My little to do app!</h1>
    
    <div id="todo" class="col-xs-6 col-xs-offset-3" ng-controller="MainCtrl">
  
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Item to add to todo list" ng-model="newItem" ng-keyup="$event.keyCode == 13 && addItem()">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="addItem()">
              Add
			
			  </button>
              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          </span>
        </div><!-- /input-group -->

      <span class="label label-danger">{{warningText}}</span> <!-- This is a warning text that only displays if the user has done something wrong, i.e., tried to edit an item so that it had an identical name as something else -->
        
      <h2>stuff i gotta do asap: {{counter}}</h2>
      
      <ul class="list-group">
        <!-- http://www.w3schools.com/css/css_float.asp -->
        <li class="list-group-item clearfix" ng-repeat="do in todos">
          
          <span>{{do}}</span>
          <button class="btn btn-danger pull-right" type="button" ng-click="deleteItem(do)" style="margin-left : 10px;">
            <span class="glyphicon glyphicon-trash " aria-hidden="true"></span>
          </button>

		<div class="pull-right">
			  <select>
				<option value="NOW">NOW</option>
				<option value="Today">Today</option>
				<option value="Tomorrow">Tomorrow</option>
				<option value="Another Day">Another Day</option>
			</select> 
		</div>

          <button type="button" class="btn btn-primary pull-right" style="margin-right:5px" ng-click="completeItem(do)" ng-show="!completeItems[$index]">
              Completed?
          </button>
          <span class="glyphicon glyphicon-check " aria-hidden="true" ng-show="completeItems[$index]"></span>

          <button type="button" class="btn btn-info pull-right" ng-click="showEditor(do)" ng-show="!todosEditor[$index]" style="margin-right: 5px">Edit 
            <span class="glyphicon glyphicon-pencil"></span>
          </button> <!-- This is our edit button. It links to script.js and has a fun little pencil icon. When a user clicks it, it makes visible to the user the corresponding form. -->
        
          <form class="input-group" ng-submit="editItem(do, editedItem)" ng-show="todosEditor[$index]" style="margin-top: 20px"> <!--This form is used to edit something. Because of the "ng-show" attribute, it is only visible to the user once they have clicked the edit button -->
            <input type="text" class="form-control" placeholder="Type a New Name" aria-describedby="basic-addon2" ng-model="editedItem"> <!-- I place everything inside an "input" tag so that the user could press enter to submit the information -->
             <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="editItem(do, editedItem)">Edit <span class="glyphicon glyphicon-ok"></span>
                </button>
             </span> <!-- This span completes the actual edit operation when the user clicks on the button -->

             <span class="input-group-btn">
                <button class="btn btn-danger" type="button" ng-click="cancelEdit(do)">Cancel <span class="glyphicon glyphicon-remove"></span>
                </button>
             </span>  <!--This span cancels the edit operation. This hides the edit form from the user and does not affect the current todo-list -->

            </input>

          </form>

        </li>
      </ul>
    </div>
    
  </body>

</html>
