/* Styles go here */

body {
    background-color: #C71585;
}
.selectDropdown{
	height: 34px;
}
.selecthigh{
	background-color: #ffb3b3;
}
.selectmedium{
	background-color: #ffffb3;
}
.selectlow{
	background-color: #b3b3ff;
}
.selectPh{
	display: none;
}

.strike{
    text-decoration: line-through;
}

.nopadding {
	padding: 0;
}